@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap");
@media all and (min-width: 640px) {
  body {
    font-size: 1rem;
  }
}
.contactUsForm {
  margin: 0 auto;
  background-color: rgb(215, 230, 219);
  height: 70%;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 2em;
}
.writeUs input[type="text"],
select,
textarea {
  width: 40%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}
input[type="submit"] {
  background-color: green;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: gray;
}
.writeUs {
  text-align: center;
  justify-content: center;
}



.checklist__todo {
  font-size: 3rem;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-input {
  height: 50px;
  margin-bottom: 3px;
  /* margin-top: 6px; */
  margin-right: 0%;
  width: 80%;
  position: relative;
  padding: 1rem;
  font-size: larger;
}
.checklist {
  display: inline-block;
}
.checklist,
.todo-button {
  padding: 0.4rem;
  font-size: 2rem;
  border: none;
  background: white;
  margin-inline: 0%;
  margin-block-end: 2%;
  vertical-align: top;
}
.todo-button {
  color: #195237;
  background: #F7FFFE;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5%;
  padding-top: 0;
  padding-bottom: 12px;
}
.todo-button:hover {
  background: #195237;
  color: black;
  position: relative;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}
.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.trash-btn,
.complete-btn {
  background: #195237;
  color: black;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  /* border-radius: 5%;
  margin-right: 3%; */
}
.complete-btn {
  background: rgb(11, 212, 162);
}
.todo-item {
  padding: 0rem 0.5rem;
}
.fa-trash,
.fa-check {
  pointer-events: none;
}
.fas-fa-plus-square {
  margin-left: 1rem;
}
.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  margin-left: 0.1oin;
}
select {
  color: #195237;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* .select::after {
  content: "\25BC";
  position: relative;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #195237;
  cursor: pointer;
  pointer-events: none;
} */
.checklist {
  border-style: solid;
  border-radius: 0.5em;
  background-color: rgb(155, 231, 174);
  width: 100%;
}