@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap");

@media all and (min-width: 640px) { 
  body {font-size:1rem;} } 


.header__section_profile {
  position: sticky;
  text-align: right;
}


.headerImageSize{
  height: 240px;
  padding-top: 0;
  background-size: cover;
}



.header__profile_button {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 16px;
  margin: auto;
}

.header__profileMenu_backdrop {
  background: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.header__profile_menu {
  background: white;
  display: none;
  height: 100vh;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 250px;
  z-index: 1;
}

.header__profile_profile {
  background-color: #303c6c;
  color: black;
  font-size: 20px;
  padding: 1rem;
  text-align: left;
}

.menu__close {
  cursor: pointer;
  margin-left: 6.5rem;
}

.header__profile_portal,
.footer__about,
.footer__contact,
.footer__donate,
.footer__hiring,
.header__profile_faq,
.header__profile_terms,
.header__profile_privacy,
.header__profile_checklist {
  border-bottom: #303c6c solid 1px;
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: left;
}

.nav-list{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 15px;
  justify-content: space-around;
  cursor: pointer;
}

.nav-list__home,
.nav-list__skills,
.nav-list__regions,
.nav-list__scenarios,
.nav-list__blog {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

 @media all and (min-width: 640px) { 
  body {font-size:1rem;} } 